{% extends "app/layout.html" %}

{% block content %}

<div class="main-container">
	<h1>{{title}}</h1>
	<date>{{date_time}}</date>
	<table class="table table-bordered">
	  <thead>
		<tr>
		  <th>File ID</th>
		  <th>File name</th>
		  <th>Created On</th>
		  <th>Updated On</th>
		</tr>
	  </thead>
	  <tbody>
		{% for file in files_listing %}
		  <tr>
			<td>{{ file.id }}</td>
			<td><a href="/file-data/{{file.id}}/1"> {{ file.file_name }}</a> </td>
			<td>{{ file.created_on }}</td>
			<td>{{ file.updated_on }}</td>
		  </tr>
		{% endfor %}
	  </tbody>
	</table>

	{% if files_listing.has_other_pages %}
	  <ul class="pagination">
		{% if files_listing.has_previous %}
		  <li><a href="/list-files/{{ files_listing.previous_page_number }}">&laquo;</a></li>
		{% else %}
		  <li class="disabled"><span>&laquo;</span></li>
		{% endif %}
		{% for i in files_listing.paginator.page_range %}
		  {% if files_listing.number == i %}
			<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
		  {% else %}
			<li><a href="/list-files/{{ i }}">{{ i }}</a></li>
		  {% endif %}
		{% endfor %}
		{% if files_listing.has_next %}
		  <li><a href="/list-files/{{ files_listing.next_page_number }}">&raquo;</a></li>
		{% else %}
		  <li class="disabled"><span>&raquo;</span></li>
		{% endif %}
	  </ul>
	{% endif %}
</div>

{% endblock %}
