{% extends "app/layout.html" %}

{% block content %}

<div class="main-container">
	<h1>{{title}}</h1>
	<date>{{date_time}}</date>
	<table class="table table-bordered">
	  <thead>
		<tr>
		  	{% for data in file_data|slice:":1" %}
				{% for col,val in data.items %}
				<td>{{ col }}</td>
				{% endfor %}
			{% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in file_data %}
		  <tr>
		  	{% for col,val in row.items %}
			<td>{{ val }}</td>
			{% endfor %}	
		  </tr>
		{% endfor %}
	  </tbody>
	</table>

	{% if file_data.has_other_pages %}
	  <ul class="pagination">
		{% if file_data.has_previous %}
		  <li><a href="/file-data/{{file_id}}/{{ file_data.previous_page_number }}">&laquo;</a></li>
		{% else %}
		  <li class="disabled"><span>&laquo;</span></li>
		{% endif %}
		{% for i in file_data.paginator.page_range %}
		  {% if file_data.number == i %}
			<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
		  {% else %}
			<li><a href="/file-data/{{file_id}}/{{ i }}">{{ i }}</a></li>
		  {% endif %}
		{% endfor %}
		{% if file_data.has_next %}
		  <li><a href="/file-data/{{file_id}}/{{ file_data.next_page_number }}">&raquo;</a></li>
		{% else %}
		  <li class="disabled"><span>&raquo;</span></li>
		{% endif %}
	  </ul>
	{% endif %}
</div>

{% endblock %}
