{% extends "app/layout.html" %}

{% block content %}

<div class="main-container">
    <h1>{{title}}</h1>
    <date>{{date_time}}</date>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <button type="submit">Upload</button>
    </form>
    {% if uploaded_file_name %}
        <p>File uploaded: {{ uploaded_file_name }}</p>
    {% endif %}
</div>

{% endblock %}
